:root {
    --dark-blue: rgb(9, 25, 47);
    --black-blue: rgb(2, 10, 20);
    --div-dark-blue: rgb(17, 34, 64);
    --lighter-blue: rgb(204, 214, 246);
    --light-blue: rgb(136, 146, 176);
    --light-green: rgb(60, 233, 218);
    --button-hover: rgb(19, 48, 64);
}


html {
    scroll-behavior: smooth;
  }

#navigation {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 6em;
    background-color: rgba(9, 41, 47, 0.562);
    transition: top 0.6s;
    /*background-image: url(/src/images/better.svg);*/
    



}

#logo {
    width: 3em;
    height: 3em;
    margin: 1.5em !important;
    margin-left: 3em !important;
    border: 1px solid var(--light-green);
    border-radius: 100%;
}

#links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    width: 100vw;
}
#links-list > a:nth-child(1) {
    margin-left: auto;
}

a {
    color:white;
    margin:1em;
    font-family: 'Calibre Regular';
    text-decoration: none;
    font-size:1.0em;
}

body {
    background-color: var(--black-blue);
    font-family: Calibre Regular; /* Temp */
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 5000px;

}

.content {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-top: 6em;
}

span {
    color: var(--light-green);
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

h1 {
    color: var(--lighter-blue);
    font-family: "SF Mono Semibold";
    font-size: 5vw;
    margin: 5vh;
    margin-bottom: 0;
    margin-left: 0;
    width: max-content;
}

h2 {
    color: var(--light-blue);
    font-family: "SF Mono Semibold";
    font-size: 2vw;
    margin: 0;
    line-height: 2em;
}

.text-block {
    width: 50%;
    text-align: left;
    font-size: 1.1em;
}

#top-button {
    font-family: 'Calibre Regular';
    height: 2em;
    margin:0;
    margin-top:-0.1em; /* Talvez seja bom usar o shorthand aqui? */
    margin-left:1em;
    padding-bottom:0;
    padding-top:0.2em;
    padding-left:1em;
    padding-right:1em;
    width:min-content;

}
p {
    color: var(--light-blue);
    font-family: "Calibre Regular";
    font-size: 1.1em;
}

#dash {
    align-items: center;
    margin:auto;
    margin-left:2em;
    margin-top:2.2em;
    width:18em;
    border-bottom:1px solid rgba(99, 99, 99, 0.39);
}

/* São os "pilares" à esquerda e a direita da seção de conteúdo. */
.decor {
    height: 100vh;
}
.left {
    width: 1px;
    margin-top: 25%;
    margin-left: 5%;
    overflow: hidden;
    position: fixed;

    border-left: 2px dotted white;
}
.right {
    margin-top: 25%;
    writing-mode: vertical-lr;
    width: 100px;
    overflow: hidden;
    position: fixed;
    margin-left: 92%; /* Hackzão, mas não consegui resolver na elegância. */
}
/* Fim do Pilares */

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    width: 90%;
    margin: auto;
    margin-top: 4em;
}

.break {
    height: 0;
    flex-basis: 100%;
}

h3 {
    color: var(--lighter-blue);
    font-size: 1.5em;
    margin-bottom: 1.5em;
    height: 0;
}

.about .text-block {
    display: flex;
    flex-direction: row;
}

#eu {
    width: 30%;
    margin: auto;
    margin-top: 2em;
    box-shadow: 5px 5px var(--light-green);
}

button {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0;
    margin-top: 2em;
    width: 12em;
    text-decoration: none;
    background: var(--dark-blue);
    border-color: var(--light-green);
    color: #ffffff;
    font-family: Lato;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: var(--button-hover);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
    font-family: "Calibre Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Calibre Regular"), url("Calibre-Regular.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Regular";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Regular"), url("SFMonoRegular.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Regular Italic";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Regular Italic"), url("SFMonoRegularItalic.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Light";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Light"), url("SFMonoLight.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Light Italic"), url("SFMonoLightItalic.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Medium";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Medium"), url("SFMonoMedium.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Medium Italic";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Medium Italic"), url("SFMonoMediumItalic.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Semibold";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Semibold"), url("SFMonoSemibold.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Semibold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Semibold Italic"), url("SFMonoSemiboldItalic.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Bold";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Bold"), url("SFMonoBold.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Bold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Bold Italic"), url("SFMonoBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Heavy";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Heavy"), url("SFMonoHeavy.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Heavy Italic";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Heavy Italic"), url("SFMonoHeavyItalic.woff") format("woff");
}

#links-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
  #links-list a {
    position: relative;
    padding:0.4em;


    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: rgb(255, 255, 255);
  }
  
  #links-list a::before,
  #links-list a::after {
    content: "";
    pointer-events: none;
    position: absolute;
  }
  
  /* ---------------------- Style 1 -------------------------- */
  
  #links-list a::before,
  #links-list a::after {
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    bottom: 0%;
    right: 0%;
  }
  
  /* 'before' sudo element animates the bottom and left borders */
  #links-list a::before {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius:5px;
  }
  
  /* 'after' sudo element animates the top and right borders */
  #links-list a::after {
    border-top-width: 1px;
    border-right-width: 1px;
    border-radius:5px;
  
  }
  
  #links-list a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* On Hover border color is changed from transparent to the #fff */
  /* Width and a height of the sudo elements are increased from zero to 100% */
  #links-list a:hover::before,
  #links-list a:hover::after {
    border-color: var(--light-green);
    transition: border-color 0s, width 0.1s, height 0.1s;
    width: 100%;
    height: 100%;
  }
  
  /* Delay is added to the height animation of the 'before' sudo element */
  #links-list a:hover::before {
    transition-delay: 0s, 0s, 0.1s;
  }
  
  /* Delay is added to the width animation of the 'after' sudo element */
  #links-list a:hover::after {
    transition-delay: 0s, 0.1s, 0s;
  }